<div class="list-header" style="background-image: url('<%= 'default-bg.jpg' %>');">
  <h1><%= @list.name %></h1>
  <%= link_to 'add', new_list_bookmark_path(@list) %>
</div>

<% @list.bookmarks.each do |bookmark| %>
<div>
<%= bookmark.movie.title %>
<%= image_tag bookmark.movie.poster_url , height:200 %>
<%= bookmark.comment %>
</div>
<% end %>

<style>
.list-header {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
</style>
